<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="D:\Jeni web reports\SAMA_Web_Reporter\pythonbokeh" />
        <add key="WSGI_HANDLER" value="app.app" />
        <add key="WSGI_LOG" value="D:\Jeni web reports\SAMA_Web_Reporter\pythonbokeh\1.log" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\HP\anaconda3\envs\flaskapi\python.exe|C:\Users\HP\anaconda3\envs\flaskapi\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
