iframe#webpack-dev-server-client-overlay{display:none!important}
.reportdesignerheading{
    background-image: linear-gradient(rgb(19 5 168), rgba(0, 0, 0, 0.04)); 
    background-repeat: repeat; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    
    text-align: center; 
    font-weight: bold; 
    text-transform: uppercase; 
    font-family: 'Steelfish Rg', 'helvetica neue', 
             helvetica, arial, sans-serif; 
    font-weight: 800; 
    -webkit-font-smoothing: antialiased; 
}