.addschedulerbtn{
    background-color: rgb(38, 178, 34);
    color: #ffff;
    float: right; 
}
.addschedulerbtn:hover{
    color: #ffff !important;
    border-color: #15a461 !important;
    background-color:#1ba420;
}
